@model decimal

@{
    ViewData["Title"] = "Success!";
}

<div class="row mt-50">
    <div class="col-lg-12 text-center">
        <h2>Your new balance is: <span class="text-primary">@Model</span></h2>
    </div>
</div>
